@model IEnumerable<SWProject1.Models.Mission>

@{
    ViewBag.Title = "Index";
}

<h2>Missions</h2>

@using (Html.BeginForm("CategoryChosen", "Mission", FormMethod.Get))
{
    <fieldset>
        Mission
        @Html.DropDownList("Missions")
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>

    
} 
