@{
    ViewBag.Title = "About Us";
}




<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About Us", "About", "Home")</li>
</ol>

<h2>@ViewBag.Title.</h2>

    

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    About Us
                    <small>Mission.. Possible!</small>
                </h1>
                <p>Mission.. Possible was founded with every prospective missionary in mind. Wether you are considering serving, have your call already or you are moments from saying goodbye to mom, you can count on our service to get you the answers you need! Just search for your mission and you will see pro tips from return missionaries.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/NathanBartonImage.jpg" alt="">
                <h3>
                    Nathan Barton
                    <small>Intern</small>
                </h3>
                <p>Super excited to solve all problems! Kinda like a Greenie</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/Henrique.png" alt="">
                <h3>
                    Henrique Bronovski
                    <small>CEO</small>
                </h3>
                <p>He's the boss. Kinda like a mission president</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/BMImage.jpg" alt="">
                <h3>
                    Brian Marchant
                    <small>CTO</small>
                </h3>
                <p>He tells us how to do things right. Kinda like the AP's</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center img-sizing" src="~/Content/Images/SWImage.jpg" alt="">
                <h3>
                    Shane Whitlock
                    <small>CISO</small>
                </h3>
                <p>He tells us how to safely handle information. Kinda like the office couples</p>
            </div>
        </div>

