<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Styles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <video id="video-background" preload muted autoplay loop>
        <source src="~/Content/Video/Magical_Christmas_Forest_Motion_Background_4K.mp4" type="video/mp4" />
    </video>
    
</div>


<div class="container">
    <h1>Where are you serving?</h1>
    <p class="lead">Do you know what kind of winter clothing to buy?</p>
    <p><a href="@Url.Action("Index","Mission")" class="btn btn-primary btn-lg">Ask The Missionaries!</a></p>
</div>

 




